@import '//at.alicdn.com/t/c/font_4471811_359hoyjxg9t.css';

@font-face {
  font-family: 'Nunito';
  src: url('../assets/fonts/Nunito-VariableFont-wght.woff') format('woff'),
  url("../assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

:root {
  --color-text: rgb(56, 56, 56);
  --color-background: rgb(238, 242, 246);
}

body {
  min-height: 100vh;
  font-size: 14px;
  letter-spacing: 0.07em;
  line-height: 1.4;
  color: var(--color-text);
  background: var(--color-background);
  overflow: hidden;
  font-weight: 400;
  font-family: 'Nunito', sans-serif;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

img {
  display: block;
}

a {
  text-decoration: none;
  color: var(--color-text);
}
